<h1> User profile </h1>



<h3>Edit user:</h3>

<form action="/edit_user/<%= @user.id %>" method="post">
	Name:
	  <input type="text" name="name" value="<%= @user.name %>">
	Email Address:
	  <input type="text" name="email" value="<%= @user.email %>">
	Password:
	  <input type="text" name="password" value="<%= @user.password%>">

	  <input type="submit">
  
</form>

<form action="user_delete/<%= @user.id %>" method="post">

	<input type="submit" value="delete">

</form>

<p><a href="/logins/sign_out"> Sign out </a></p>
<p><a href="/"> Home </a></p>