<h1> User profile </h1>

<h2> <%= @user.name %> </h2>

	<% if @user.todos_by_user != nil %>
		User has added/edited the following to-dos:
		<ul>
			<% @user.todos_by_user.each do |todo| %>
				<li>
					<a href="/todo_info/<%= todo.id %>"> <%= todo.title %></a>
				</li>
			<% end %>
		</ul>
	<% end %>

<h3>Edit user:</h3>

<form action="/users/<%= @user.id %>/edit" method="post">
	Name:
	  <input type="text" name="name" value="<%= @user.name %>"> </br>
	Email Address:
	  <input type="text" name="email" value="<%= @user.email %>"></br>
	Password:
	  <input type="password" name="password" value="<%= @user.password%>"></br>

	  <input type="submit"></br> 
</form>

<form action="users/<%= @user.id %>/delete" method="post">

	<input type="submit" value="Delete">
</form>

<p><a href="/logins/sign_out"> Sign out </a></p>

<p><a href="/users/show"> Show all users </a></p>

<p><a href="/"> Home </a></p>