<h1>Todo Info</h1>

<h2> <%= @todo.title %> </h2> 
<p> Last edited by <a href="/users/<%= @current_user.id %>/profile"><i><%= @current_user.name %>.</i></a> </p>

<% if @todo.description != nil %>
	<h3> <%= @todo.description %> </h3>
<% end %>


Edit this to do:<br>
<form action="/todos/<%= @todo.id %>/edit" method="post">

  <input type="text" name="title" value="<%= @todo.title %>"> <br>

  <input type="text" name="description" value="<%= @todo.description %>"><br>

  <input type="submit"><br>
</form>

<form action="/todos/<%= @todo.id %>/delete" method="post">

	<input type="submit" value="delete">
</form>



<p><a href="/"> Home </a></p>

