<h1>Todo Info</h1>

<h2> <%= @todo.title %> </h2> 

<h3> <%= @todo.category_name %> </h3> 

<p>Created by <%= @todo.who_assigned_this_todo %></p>

<p> Assigned to <a href="/users/<%= @todo.user_id %>/profile"><i><%= @todo.assignee_name %>.</i></a> </p>

<% if @todo.description != nil %>
	<h3> <%= @todo.description %> </h3>
<% end %>


Edit this to do:<br>
<form action="/todos/<%= @todo.id %>/edit" method="post">

  <input type="text" name="title" value="<%= @todo.title %>"> <br>

  <input type="text" name="description" value="<%= @todo.description %>"><br>
  
   	<select name="user_id">

		   <option selected disabled>Choose user to complete task:</option>
				<% @list_users.each do |user| %>
					<option value= "<%=user.id%>">
						<%= user.name %>
					</option>
				<%end%>
	  </select>

  <input type="submit"><br>
</form>

<form action="/todos/<%= @todo.id %>/delete" method="post">

	<input type="submit" value="delete">
</form>



<p><a href="/"> Home </a></p>

