<h1 style="color:green;">Todo Info</h1>

<h2> <%= @todo.title %> </h2> 
<p> Last edited by <i><%= @current_user.name %>.</i> </p>

<% if @todo.description != nil %>
	<h3> <%= @todo.description %> </h3>
<% end %>


Edit this to do:
<form action="/edit_todo/<%= @todo.id %>" method="post">

  <input type="text" name="title" value="<%= @todo.title %>">

  <input type="text" name="description" value="<%= @todo.description %>">

  <input type="submit">
  
</form>



<p><a href="/"> Home </a></p>

