<h1>Welcome! Here are the current To-dos:</h1>

  <% if @error_object != nil %>
    <h2 style="color:red;"><%= @error_object %></h2>
  <% end %>

<form action="/todos/complete" method="post">
  <% if @todo_list != nil %>
    <ul>
      <% @todo_list.each do |todo| %>
      	<li> 
        <input type="checkbox" name="set_completed_todos[]" value="<%= todo.id %>"
        <%= "checked" if todo.completed? %>>
          <label><a href="/todo_info/<%= todo.id %>"> <%= todo.title %></a></label>
        </li>
      <% end %>
    </ul>
  <% end %>

  <input type="submit">
 </form>

<p><a href="/todos/new"> Add a new to-do </a></p>
<p><a href="/categories/new"> Add a new category </a></p>

<h3>Log in</h3>

<form action="/logins/create" method="post">
  <p>
    Email:
    <input type="text" name="email">
  </p>

  <p>
    Password:
    <input type="password" name="password">
  </p>

  <input type="submit">
</form>

<p><a href="/users/create"> or create new user </a></p>

<p><a href="/users/show"> View all users </a></p>

<p><a href="/logins/sign_out"> Sign out </a></p>
